 .AppButton {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.20rem 1rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .AppButton:hover,
  .AppButton:active {
    background-color: #641e03;
    border-color: #641e03;
  }

  .AppButton:disabled {
    background-color: gray;
    border: 1px solid gray;
    cursor:default;
  }
  